# Dart and Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build outputs
build/
*.apk
*.aar
*.aab
*.app
*.ipa

# iOS specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace
ios/*.xcuserstate

# macOS specific
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Pods/
macos/Runner.xcworkspace
macos/*.xcuserstate

# Android specific
android/.gradle/
android/app/build/
android/local.properties
android/*.iml

# Windows specific
windows/Flutter/generated_plugin_registrant.cc
windows/CMakeCache.txt
windows/Flutter/ephemeral/

# Linux specific
linux/Flutter/generated_plugin_registrant.cc
linux/flutter/CMakeFiles/

# Web specific
web/.dart_tool/
web/generated_plugin_registrant.dart

# IDE specific
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Metadata
.metadata

# Logs and temporary files
*.log
*.tmp

# Exclude test result files
coverage/
